<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookings</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">CHROME</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="../home">
                            <i class="fas fa-home"></i> Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../chrome_logout">
                            <i class="fas fa-sign-out-alt"></i> Logout
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-4">
        <h2 class="mb-4">Bookings</h2>

        <div class="row g-4">
            {% for buy, order in combined_data %}
            <div class="col-lg-4">
                <div class="card">
                    <img src="{{ buy.product.img.url }}" class="card-img-top img-fluid" alt="{{ buy.product.name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ buy.product.name }}</h5>
                        <p class="card-text">
                            Price: {{ buy.base_price }}<br>
                            Date: {{ buy.date }}<br>
                           
                        </p>

                        <!-- Displaying Order Details -->
                        <div class="mt-3">
                            <h6>Order Details:</h6>
                            <p>
                                <strong>Name:</strong> {{ order.name }}<br>
                                <strong>Email:</strong> {{ order.email }}<br>
                                <strong>Phone Number:</strong> {{ order.phone_number }}<br>
                                <strong>Shipping Address:</strong> {{ order.shipping_address }}<br>
                                <strong>Status:</strong> {{ order.status }}<br>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            
        </div>
    </div>

</body>
</html>
